<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @procedure.title %>
</p>

<p>
  <strong>Active:</strong>
  <%= @procedure.active %>
</p>

<%= link_to 'Edit', edit_procedure_path(@procedure) %> |
<%= link_to 'Back', procedures_path %>
